<h1><%= @event.name %> - <%= @event.event_date.strftime("%B %d, %Y") %></h1>
<div>By <%= @event.creator.email %></div>
<div><%= @event.location %></div>
<% if @event.fee == 0 %>
    <div>Free</div>
<% else %>
    <div>$<%= @event.fee %></div>
<% end %>
<h3>Overview</h3>
<p><%= @event.description %></p>