<h1><%= @event.name %> - <%= format_event_date(@event) %></h1>
<div>By <%= link_to @event.creator.email, user_path(@event.creator) %></div>
<div><%= @event.location %></div>
<% if @event.fee == 0 %>
    <div>Free</div>
<% else %>
    <div>$<%= @event.fee %></div>
<% end %>
<h3>Overview</h3>
<p><%= @event.description %></p>